body{
	font-size: 12px;
	font-family: Tahoma,'Microsoft Yahei',Simsun;
}
.content-container li{
	font-size: 14px;
}
.content-container blockquote{
	font-size: 14px;
}
.skin-container {
	background-color: rgb(51,51,51);
	background-image: url(../img/6.jpg);
	position: fixed;
	_position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	min-width: 1000px;
	z-index: -10;
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	zoom: 1;
}
/*头部*/
header{
	margin: 30px 0 ;
	line-height: 50px;
}
.header-content{
	font-size: 2em;
	letter-spacing: 1em;
	color: #fff;
	text-align: center;
	margin-bottom: 0;
	text-shadow: 2px 2px 4px #ccc;
	font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
	
}
/*导航*/
.main-navgation{
	background: #ffffff;
	margin-bottom: 30px;
	text-align: center;
	border-bottom: 2px solid #ccc;
	-moz-box-shadow: 3px 3px 9px #171314;
	-webkit-box-shadow: 3px 3px 9px #171314;
	box-shadow: 3px 3px 9px #171314;
}
.navbar-collapse{
	padding: 0;
}
.navbar-nav li{
	margin-right: 20px;
}
.navbar-nav li a{
	font-size: 1.5em;
	color: #000;
}
#navbarCollapse {
	text-align: center !important;
}
.navbar-nav {
	width: 460px;
	margin: 0 auto !important;
}
.navbar-default{
	background-color: #ffffff;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #337ab7;
	border-bottom: 2px solid #337ab7;
	margin-bottom: -2px;
}
.nav-center{
	text-align: center;
}

/*侧边栏*/
.widget{
	background: #ffffff;
	padding: 20px 30px;
	margin-bottom: 20px;
	-moz-box-shadow:inset 0 0 7px #0a0809;
	-webkit-box-shadow:inset 0 0 7px #0a0809;
	box-shadow:inset 0 0 7px #0a0809;
	border-radius: 5px;
}
.widget .title{
	position: relative;
	padding-bottom: 10px;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 20px;
	margin-top: 0;
}
.widget .title span{
	padding-right: 10px;
}
.widget .title::after{
	content: "";
	width: 90px;
	height: 1px;
	background-color: #39B3D7;
	position: absolute;
	left: 0;
	bottom: -1px;
}
.categories a{
	font-size: 1.4em;
	color: #555;
	padding: 5px 10px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	display: inline-block;
	text-align: center;
	width: auto;
	margin-right: 10px;
}
.usefulLinks a{
	font-size: 1.4em;
	color: #555;
	padding: 5px 10px;
	border: 1px solid #ccc;
	display: inline-block;
	margin-bottom: 10px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.categories a:hover,
.usefulLinks a:hover{
	background: #3071A9;
	color: #fff;
	text-decoration: none;
}
footer p{
	/*position: absolute;
	bottom: 0;
	left: 0;*/
	background: #111;
	font-size: 14px;
	text-align: center;
	color: #555555;
	height: 50px;
	line-height: 50px;
	margin-bottom: 0;
	border-top: 1px solid #303030;
}

/*文章部分*/
.post{
	padding: 35px;
	background: #ffffff;
	margin-bottom: 30px;
	overflow: hidden;
	-moz-box-shadow:inset 0 0 7px #0a0809;
	-webkit-box-shadow:inset 0 0 7px #0a0809;
	box-shadow:inset 0 0 7px #0a0809;
}
.post-title{
	text-align: center;
}
.post-date{
	text-align: center;
	font-size: 1.2em;
}
.post-date span{
	padding-right: 10px;
}
.post-pic img{
	width: 100%;
}
.post-content {
	margin-top: 20px;
	font-size: 1.4em;
}
.post-tags{
	margin-top: 20px;
	font-size: 1.4em;
}
.post-tag {
	padding-left: 8px;
}

/*页码*/
.page-container{
	text-align: center;
	margin-bottom: 30px;
}

/*post.html*/
.category-details,
.post-details,
.about-details{
	padding: 20px;
	margin-bottom: 30px;
	overflow: hidden;
	background: #ffffff;
	-moz-box-shadow:inset 0 0 7px #0a0809;
	-webkit-box-shadow:inset 0 0 7px #0a0809;
	box-shadow:inset 0 0 7px #0a0809;
}
/*categories.html*/
.category-details,
.about-details{
	list-style: none;
	min-height: 500px;
	-moz-box-shadow:inset 0 0 7px #0a0809;
	-webkit-box-shadow:inset 0 0 7px #0a0809;
	box-shadow:inset 0 0 7px #0a0809;
}
.category-details h4 a{
	font-size: 16px;
}
/*about.html*/
.about-details p{
	font-size: 16px;
}
/*日历*/
#calendar{
	font: 16px/1.5 Helvetica;
}
#calendar table{
	border-top: 1px solid #ccc;
	border-spacing: 0;
	border-collapse: collapse;
}
thead{
	font-family: '微软雅黑';
	text-align: center;
	
}
thead td {
	height: 40px;
	line-height: 40px;
}
.weekend{
	font-weight: 700;
}
tbody td{
	border: 1px solid #E5E5E5;
	width: 40px;
	height: 40px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
}
tbody .current{
	background: #0099cc;
	color: #fff;
}
tbody td:hover{
	background: #0099cc;
	color: #fff;
}
.date-year,
.date-month{
	width: 40px;
	margin: 0 10px;
}
#prevMonth,
#nextMonth,
#prevYear,
#nextYear {
	width: 30px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	font-weight: 700;
}
#prevMonth:hover,
#nextMonth:hover,
#prevYear:hover,
#nextYear:hover{
	background: #0099cc;
	color: #fff;
} 
/* 回到顶部 */
#backTop{
	display: none;
	position: fixed;
	right: 30px;
	bottom: 30px;
}
/*多说评论*/
.ds-thread{
	background: #fff;
	margin-bottom: 20px;
	padding: 20px;
}