<!DOCTYPE html>
<html>
    {% include head.html %}
<body>
    <!-- 皮肤 -->
    <div class="skin-container"></div>
    {% include header.html %}
    <!-- fork me on github -->
    <a href="https://github.com/blackLearning/blackLearning.github.io"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    <!-- 导航 -->
    <nav class="main-navgation">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="nav navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                            <ul class="nav navbar-nav">
                                <li><a href="/index.html">首 页</a></li>
                                <li><a href="/categories.html">分 类</a></li>
                                <li><a href="/tags.html">标 签</a></li>
                                <li><a href="/archives.html">归 档</a></li>
                                <li><a href="/about.html">关 于</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </nav>
    <section class="content-container">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {{ content }}
                </div>
                <div class="col-md-4">
                    <div class="sidebar-content">
                        <div class="widget">
                            <h4 class="title"><span class="glyphicon glyphicon-search"></span>搜   索</h4>
                            <form action="" method="get">
                                <div class="input-group">
                                    <input type="text" name="q" class="form-control">
                                    <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="widget">
                            <h4 class="title"><span class="glyphicon glyphicon-calendar"></span>日  历</h4>
                            {% include calendar.html %}
                        </div>
                        <div id="scrollPos">
                            <div class="widget">
                                <h4 class="title"><span class="glyphicon glyphicon-th-list"></span>分   类</h4>
                                <div class="categories">
                                    {% for cat in site.categories %}
                                    <a href="/categories.html#{{ cat[0] }}">{{ cat[0] }}({{ cat[1].size }})</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="widget">
                                <h4 class="title"><span class="glyphicon glyphicon-link"></span>常 用 链 接</h4>
                                <div class="usefulLinks">
                                    <a href="http://www.github.com">Github</a>
                                    <a href="http://www.stackoverflow.com/">Stack Overflow</a>
                                    <a href="www.google.com">Google</a>
                                    <a href="http://segmentfault.com/">SegmentFault</a>
                                    <a href="https://developer.mozilla.org/zh-CN/">MDN</a>
                                    <a href="http://www.bootcss.com/">Bootstrap</a>
                                    <a href="http://www.zhihu.com/">知乎</a>
                                    <a href="http://www.cnblogs.com/">博客园</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include footer.html %}

    <div id="backTop">
        <span class="btn btn-danger glyphicon glyphicon-chevron-up"></span>
    </div>
    <!-- jQuery Version 1.11.3 -->
    <script src="/js/jquery-1.11.3.min.js"> </script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/calendar.js"></script>
    <script src="/js/backTop.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>
